*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../Asset/bgMorpion.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.carre{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: rgb(153, 153, 153);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 5%;
    filter: opacity(0.8);
    transition: 1s;
}

.carreOnClick{
    background-color: brown;
    transform: rotate(360deg) scale(0.9);
    transition: 2s;
}

#container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 10px;
    height: 100vh;
    align-items: center;
    align-content: center;
    position: relative;
}

#annonceur{
    display: flex;
    position: absolute;
    top: 40px;
    width: 40vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: xx-large;
    background-color: rgba(127, 127, 250,0.8);
    border-radius: 15px;
    margin: 0 30%;
}

.O{
    background-color: rgb(127, 127, 250);
}

.X{
    background-color: rgb(148, 75, 75);
}