.carre{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: olive;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: 1s;
}

.carreOnClick{
    background-color: brown;
    transform: rotate(360deg) scale(0.9);
    transition: 2s;
}

#container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}